body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-width {
  width: 100%;
}

.most-width {
  width:90%;
}

.half-width {
  width: 50%;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width:600px) {
  .profile-container {
    display: flex;
    flex-direction: row
  }
}


